[Unit]
Description=Caddy
Documentation=https://caddyserver.com/docs/
After=network.target

[Service]
User=ubuntu
Group=ubuntu
ExecStart=/usr/bin/caddy run --environ --config /var/www/web/packages/web/contrib/Caddyfile
ExecReload=/usr/bin/caddy reload --config /var/www/web/packages/web/contrib/Caddyfile
TimeoutStopSec=5s
LimitNOFILE=1048576
LimitNPROC=512
PrivateTmp=true
ProtectSystem=full
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
