167.172.114.39, viralfeedback.org {
  root * /var/www/web/viralfeedback/packages/web/build
  file_server
  try_files {path} {path}/ /index.html
}

api.viralfeedback.org {
  reverse_proxy localhost:8080
}

cms.viralfeedback.org {
  reverse_proxy localhost:1337
}
