@charset "utf-8";

// Overrides
$progress-indeterminate-duration: 0.75s;

.annotation {
    max-width: 640px;
    margin-bottom: 30px;
}

// Vendor
@import '../../../node_modules/bulma/bulma.sass';
@import '../../../node_modules/bulma-tooltip/src/sass/index.sass';
