@charset "utf-8";

// Overrides
$progress-indeterminate-duration: 0.75s;

.app {
    .annotation-feed {
        padding-top: 30px;

        .annotation {
            max-width: 640px;
            margin: auto;
            margin-bottom: 30px;
        }
    }

    .navbar {
        box-shadow: 0 0 25px 0 rgba(171, 167, 191, 0.25);
    }

    .page-content {
        margin-top: 56px;
    }
}

// Vendor
@import '../../../node_modules/bulma/bulma.sass';
@import '../../../node_modules/bulma-tooltip/src/sass/index.sass';
